<% if @answer[0].category_id == Category.last.id %>
  <div class="card-voted">
    <%= cl_image_tag Nominee.find(id=@answer[0].nominee_id).photo.key, height: 373, width: 280, crop: :fill, class: 'photo-nominee' %>
    <div class="infos-voted">
      <div class="infos-title">
        <p class="label-infos-title">Tu as voté pour</p>
        <p class="nominee-infos"><%= Nominee.find(@answer[0].nominee_id).name %> <span class="infos-title-real">- <%= Nominee.find(@answer[0].nominee_id).real %></span></p>
      </div>
      <div class="infos-buttons">
        <div class="change-vote-div">
          <%= link_to "Change ton vote",
                      category_answer_path(@category, @answer[0].id),
                      method: :delete,
                      data: { confirm: "Are you sure?" }, class: 'change-vote' %>
        </div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalValidate">
          Valide tes votes
        </button>
      </div>
      <div class="index-button">
        <i class="fas fa-list"></i>
        <%= link_to 'Retourne à la liste des catégories', categories_path, class: "categories-list"  %>
      </div>
    </div>
  </div>
<% else %>
  <div class="card-voted">
    <%= cl_image_tag Nominee.find(id=@answer[0].nominee_id).photo.key, height: 373, width: 280, crop: :fill, class: 'photo-nominee' %>
    <div class="infos-voted">
      <div class="infos-title">
        <p class="label-infos-title">Tu as voté pour</p>
        <p class="nominee-infos"><%= Nominee.find(@answer[0].nominee_id).name %> <span class="infos-title-real">- <%= Nominee.find(@answer[0].nominee_id).real %></span></p>
      </div>
      <div class="infos-buttons">
        <div class="change-vote-div">
          <%= link_to "Change ton vote",
                      category_answer_path(@category, @answer[0].id),
                      method: :delete,
                      data: { confirm: "Are you sure?" }, class: 'change-vote' %>
        </div>
        <%= link_to "Vote pour la catégorie suivante", category_path(@category.id + 1), class: "next-category"  %>
      </div>
      <div class="index-button">
        <i class="fas fa-list"></i>
        <%= link_to 'Retourne à la liste des catégories', categories_path, class: "categories-list"  %>
      </div>
    </div>
  </div>
<% end %>
