<div class="container mt-4">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3 form-devise">
      <h2>Tu as oublié ton mot de passe ?</h2>
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs mt-4">
          <%= f.input :email,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email" } %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Envoyez-moi les instructions par mail", class: 'btn btn-primary btn-cesars' %>
        </div>
      <% end %>
      <div class="lien-connexion mt-2">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
