<div class="container">
  <div class="Navbar">
    <div class="Navbar__Link Navbar__Link-brand">
      <%= link_to :root do  %>
        <%= image_tag 'https://res.cloudinary.com/ddlesqeup/image/upload/v1582125476/logo_yeriqv.png' %>
      <% end %>
    </div>
    <div class="Navbar__Link Navbar__Link-toggle">
      <i class="fas fa-bars"></i>
    </div>
    <nav class="Navbar__Items Navbar__Items--right Navbar__ToggleShow">
      <% if user_signed_in? %>
        <div class="Navbar__Link">
          <%= link_to 'Résultats', '/pages/resultats', class: 'nav-pages' %>
        </div>
        <div class="Navbar__Link">
          <%= link_to 'Liste nominations', categories_path, class: 'nav-pages' %>
        </div>
        <div class="Navbar__Link">
          <%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete, class: 'nav-pages deco-pages'  %>
        </div>
      <% else %>
        <div class="Navbar__Link">
          <%= link_to "Se connecter", new_user_session_path, class: 'nav-pages' %>
        </div>
        <div class="Navbar__Link">
           <%= link_to "S'inscrire", new_user_registration_path, class: 'nav-pages deco-pages' %>
        </div>
      <% end %>
    </nav>
  </div>
</div>
