<div id="curseur" class="infobulle"></div>
<div class="container">
  <h1 class="category-title"><%= @category.title %><span class="points-title"> - <%= @category.points %> points</span></h1>
  <% if @answer == [] %>
    <%= render 'shared/show/card-no-vote' %>
  <% else %>
    <%= render 'shared/show/card-voted-closed' %>
  <% end %>
</div>
<%= render 'shared/modal-validate' %>
